* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background: #33889b;
  height: 60px;
  color: #ffffff;
  padding: 20px;
  font-size: 25px;
  width: 100%;
}

.footer {
  background: #313131;
  height: 60px;
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main-wrapper {
  display: flex;
  background: #f1f1f1;
  height: 80vh;
}

.sidebar {
  width: 20%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #f1f1f1;
}

.main-body {
  width: 80%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}